<div class="body">
  <div class="box">
    <h2>Sign Up</h2>
    <%= form_with model: @user, url: new_user_registration_path, local: true do |f| %>
    
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :favorite_color %><br />
        <%= f.text_field :nickname %>      <%# <%= f.collection_select("", "", "", "", {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up" %>
      </div>
      <h3>アカウントをお持ちですか？</h3>

      <div class="actions">
        <%= f.submit "Log in"%>
      </div>
    <% end %>
  </div>
</div>