
<div class="wrapper">

  <div class='side'>
   <div class='seach_index'>
    <%= '<Go Search>'%>
   </div>
  </div>
  <div class='main'>
    <div class='a'>
      <%="検索"%>
      <% @prototypes.each do |prototype| %>
        <%= image_tag prototype.image.variant(resize: '300x200'), class: "prototype_image" %>
      <% end %>
    </div>
    <div class='a'>
      <%="オススメ"%>
    </div>
    <div class='a'>
      <%="人気"%>
    </div>
  </div>
</div>