<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "SEARCHES", root_path, class: :logo %>
      </div>
      <% if user_signed_in?%>
        <div class="nav__right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
          <%= link_to "New Proto",new_prototype_path, class: :nav__btn, data: {"turbolinks"=>false} %>
        </div>
      <% else %>
      <% end %>
    </div>
  </div>
</header>
<div class="contents row">
  <p><%= @user.nickname %>さんの投稿一覧</p>
  <div class='user_page_body'>
      <div class="">
        <%@prototypes.each do |prototype| %>
          <%=link_to prototype_path(prototype.id) do %>
            <%= image_tag prototype.image.variant(resize: '300x200'), class: "prototype_image" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>