<div class="body">
  <div class="box">
    <h2>Log in</h2>
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <h3>アカウントを持ってないですか？</h3>

      <div class="actions">
        <%= f.submit "Sign Up"%>
      </div>
    <% end %>
  </div>
</div>
